.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  border-radius: 12px;
  text-align: center;
}

.result h2 {
  color: #32d600de;
  background-color: honeydew;
  font-size: 150%;
  margin: 0.5%;
}

.result h3 {
  margin: 0;
  font-size: 120%;
}
.result img {
  border-radius: 5%;
  width: 20%;
  margin: 2%;
}

.result .flag {
  height: 15%;
  width: 15%;
  align-self: center;
}

.imgCon {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .result .flag {
    height: 30%;
    width: 30%;
  }
  .result img {
    width: 40%;
  }
  .result h2 {
    font-size: 120%;
  }
  .result h3 {
    font-size: 90%;
  }
}
